<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mitel.borders-appearance-watcher</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-lc</string>
		<string>~/.config/borders/appearance-watcher.swift</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/com.mitel.borders-appearance-watcher.out</string>
	<key>StandardErrorPath</key>
	<string>/tmp/com.mitel.borders-appearance-watcher.err</string>
</dict>
</plist>
